body {
    font-family: Arial, sans-serif;
    background: #49b160;
    margin: 0;
    padding: 20px;

    display: flex;
    justify-content: center; 

    border: 1px solid black;
}


header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.container {
    background: #fff8a8; 
    padding: 30px;
    width: 750px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    margin: 0 auto; 
}


.title {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    margin-top: 5px;
}


.section {
    margin-top: 20px;
}

.section-title {
    margin-top: 30px;
    text-decoration: underline;
}


input[type="text"], textarea {
    width: 100%;
    padding: 6px;
    margin: 6px 0 16px 0;
    border: 1px solid #aaa;
}

.small {
    width: 100px;
}

.options label {
    margin-right: 20px;
}

.row {
    margin: 10px 0;
}

textarea {
    height: 80px;
}


.submit-btn {
    margin-top: 25px;
    padding: 10px 20px;
    background: #0077cc;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


